.Home {
    color: skyblue;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.Mask{
  background: #FFFFFF;
  border-radius: 6px;
}


/* Rectangle 17: */
.rectangle-17-m{
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
}
