.nav {
    position: fixed;
    top: 0;
    background-color: #00b0b9;
    height: 40px;
	  width: 100%;
	  margin-bottom: 0px;
    z-index: 1000;

    .nav-bar {
      background-color: white;
  		margin-top: 2px;
  		margin-left: 5px;
	  }

    .nav-user{
      float: right;
      background-color: white;
  		margin-top: 2px;
  		margin-right: 5px;
    }
}
